
<div class="search-container js-search-form">
    <span class="search-label">{{ text_search }}</span>
    <input type="text" name="search" value="{{ search }}" class="form-control" />
    <button type="submit" style="display:none;"></button>
</div>
